# Ignore only model files over GitHub's size limits
*.joblib
*/*/models/saved_Models/*.joblib

# Keep other files including outputs, logs, and plots
!*/*/outputs/
!*/*/logs/
!*/*/plots/
!.gitignore
!.gitattributes